/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

fieldset {
    border: 2px solid #0996F8;
    border-radius: 5px;
}

legend {
    background: #0996F8;
    color: white;
    border-radius: 3px;
}

#reload {
    float: right;
}