/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

fieldset {
    border: 2px solid #963;
    border-radius: 5px;
}

legend {
    background: #963;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: bold;
}

#reload {
    float: right;
}

.hide {
    display: none !important;
}